<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0">


<servlet>
<servlet-name>addvehicle</servlet-name>
<servlet-class>servlet.addvehicle</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>addvehicle</servlet-name>
<url-pattern>/addvehiclee</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>adddriver</servlet-name>
<servlet-class>servlet.adddriver</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>adddriver</servlet-name>
<url-pattern>/adddriverr</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>assign</servlet-name>
<servlet-class>servlet.assign</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>assign</servlet-name>
<url-pattern>/assignn</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>addassign</servlet-name>
<servlet-class>servlet.addassign</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>addassign</servlet-name>
<url-pattern>/addassignn</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>logdriver</servlet-name>
<servlet-class>servlet.logdriver</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>logdriver</servlet-name>
<url-pattern>/logdriverr</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>drivertb</servlet-name>
<servlet-class>servlet.drivertb</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>drivertb</servlet-name>
<url-pattern>/drivertbb</url-pattern> 
</servlet-mapping>


<servlet>
<servlet-name>deldriver</servlet-name>
<servlet-class>servlet.deldriver</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>deldriver</servlet-name>
<url-pattern>/deldriverr</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>updatedriver</servlet-name>
<servlet-class>servlet.updatedriver</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>updatedriver</servlet-name>
<url-pattern>/updatedriverr</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>logvehicle</servlet-name>
<servlet-class>servlet.logvehicle</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>logvehicle</servlet-name>
<url-pattern>/logvehiclee</url-pattern> 
</servlet-mapping>


<servlet>
<servlet-name>vehicletb</servlet-name>
<servlet-class>servlet.vehicletb</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>vehicletb</servlet-name>
<url-pattern>/vehicletbb</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>delvehicle</servlet-name>
<servlet-class>servlet.delvehicle</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>delvehicle</servlet-name>
<url-pattern>/delvehiclee</url-pattern> 
</servlet-mapping>

<servlet>
<servlet-name>updatevehicle</servlet-name>
<servlet-class>servlet.updatevehicle</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>updatevehicle</servlet-name>
<url-pattern>/updatevehiclee</url-pattern> 
</servlet-mapping>

</web-app>